<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <!-- <div class="auth-header text-center mb-4">
        <img src="assets/images/admin_images/admin-logo.png" alt="logo" />
      </div> -->
      <div class="card">
        <div class="auth-header text-center mb-4">
          <img src="assets/images/sklife-logo.svg" alt="logo" />
        </div>
        <div class="card-body p-0">
          <div class="d-flex justify-content-center align-items-end mb-4">
            <h3 class="mb-0">Login</h3>
          </div>
          <form method="post" (ngSubmit)="Login()" [formGroup]="LoginForm">
            <div class="form-group mb-3">
              <label class="form-label" for="mobile_no">Mobile No(Username)</label>
              <div class="form-input">
                <img src="assets/images/admin_images/icons/phone.png" alt="mobile_no" />
                <input formControlName="mobile_no" type="text" class="form-control" id="mobile_no" placeholder="Mobile No" />
              </div>
             
              <div *ngIf="
                LoginForm?.get('mobile_no')?.hasError('required') &&
                LoginForm?.get('mobile_no')?.touched">
                <span class="error-message">User name is required</span>
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="password">Password</label>
              <div class="form-input">
                <img src="assets/images/admin_images/lock.svg" alt="lock" />
              <!-- <input formControlName="password" type="password" class="form-control" id="password"
                placeholder="password" value="" /> -->
                <input formControlName="password" [type]="passwordFieldType" class="form-control" id="password"
                  placeholder="password" />
                   <i class="fa-solid fa-eye toggle-password" (click)="togglePasswordVisibility()"></i>
              </div>
              <div *ngIf="
              LoginForm?.get('password')?.hasError('required') &&
              LoginForm?.get('password')?.touched">
                <span class="error-message">Password is required</span>
              </div>
            </div>
            <div class="d-flex mt-1 justify-content-between">
              <div class="form-check">
                <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
                <label class="form-check-label text-muted" for="customCheckc1">Remeber Me</label>
              </div>
              <h5 class="text-secondary f-w-400"><a href="javascript:">Forgot Password?</a></h5>
            </div>
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-dark">Login</button>
            </div>
          </form>
          <div class="signtitle text-center mt-3">
            <p>Don't have an account? <a href="#" [routerLink]="['/register']">Signup</a></p>
          </div>
        </div>
      </div>
  
    </div>
  </div>
</div>