.invoice-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 10px;
}

body {
    font-family: "Poppins", sans-serif;
}

table {
    font-size: 15px;
    text-align: left;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f4f4f4;
}