<p-table #dt [value]="commissions" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
    currentPageReportTemplate="" [filterDelay]="0"
    [globalFilterFields]="['user.full_name','description','created_at','amount']">
    <ng-template pTemplate="caption">
        <div class="table-header mb-4">
            <h3>Commission List</h3>
            <div class="product-search">
                <span class="p-input-icon-left w-100">
                    <i class="ti ti-search"></i>
                    <input class="form-control" InputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                        placeholder="Global Search" />
                </span>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="user.full_name">Username <p-sortIcon field="user.full_name"></p-sortIcon></th>
            <th pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="amount">Amount<p-sortIcon field="amount"></p-sortIcon></th>
            <th pSortableColumn="created_at">Created At <p-sortIcon field="created_at"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr class="p-selectable-row">
            <td>
                <span class="p-column-title">Username</span>
                <span class="image-text">{{data.user.full_name}}</span>
            </td>
            <td>
                <span class="p-column-title">Description</span>
                <span class="image-text">{{data.description}}</span>
            </td>
            <td>
                <span class="p-column-title">Amount</span>
                <span class="image-text">{{data.amount}}</span>
            </td>
            <td>
                <span class="p-column-title">Created At</span>
                <span class="image-text">{{ data.created_at | date }}</span>
            </td>
        </tr>
    </ng-template>
</p-table>