<form [formGroup]="signupForm" (ngSubmit)="addUser()">
    <div class="row">
        <!-- State Field -->
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label for="state_id" class="form-label">State <span>*</span></label>
                <div class="form-input">
                    <!-- <img src="assets/images/admin_images/icons/country.png" alt="email" /> -->
                    <select formControlName="state_id" class="form-select form-control">
                        <option value="">Select State</option>
                        <option *ngFor="let state of states" [value]="state.id">
                            {{ state.name }}
                        </option>
                    </select>
                </div>
                <div *ngIf="
            signupForm.get('state_id')?.touched &&
            signupForm.get('state_id')?.invalid
          ">
                    <small class="text-danger" *ngIf="signupForm.get('state_id')?.hasError('required')">State is
                        required.</small>
                </div>
            </div>
        </div>
        <!-- Cities -->
        <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="city_id" class="form-label">City <span>*</span></label>
              <div class="form-input">
                <input formControlName="city_id" id="city_id" class="form-control" placeholder="Enter city name" />
              </div>
              <div *ngIf="signupForm.get('city_id')?.touched && signupForm.get('city_id')?.invalid">
                <small class="text-danger" *ngIf="signupForm.get('city_id')?.hasError('required')">City is required.</small>
              </div>
            </div>
          </div>
          
        <div class="col-lg-6">
            <div class="form-group">
                <div class="d-flex gap-2 from-button">
                    <input type="submit" class="btn orange-btn" value="Save">
                    <!-- <input (click)="resetForm()" type="button" class="btn grey-btn" value="Reset"> -->
                </div>
            </div>
        </div>
    </div>
</form>