.inactive-status{
    border: none;
    background: #e8e8e8;
    font-size: 13px;
    padding: 2px 7px;
    border-radius: 4px;
    color: #000;

}
.active-status{
    border: none;
    background: #1fa331;
    font-size: 13px;
    padding: 2px 7px;
    border-radius: 4px;
    color: #ffffffde;

}
