// .p-2 {
//     padding: 0.5rem;
//   }

//   .sponsor-id {
//     margin-top: 10px;
//     font-size: 14px;
//     color: #333;
//   }

//   .parent-node {
//     background-color: green;
//     color: white;
//   }

//   .child-node {
//     background-color: red;
//     color: white;
//   }
.modal-content {
  width: 100% !important;
  padding: 0;
}

#myModal .table.table-open-cls tr td {
  border-bottom: 1px solid #ededed;
}

#myModal .table.table-open-cls tr:nth-child(odd) td {
  background: #fff;
}


#myModal .table.table-open-cls tr:nth-child(even) td {
  background: #fffbea;
}

#myModal .table.table-open-cls tr td span {
  font-weight: 600;
}

.gobackfromtree {
  height: 20px !important;
  width: 20px !important;
}

.viewdetails {
  font-size: 19px;
  position: relative;
  left: 2px;
  top: 4px;
}

.scroll-add-cls .scroll-pnl-cls {
  width: 100% !important;
}

.scroll-add-cls {
  overflow: scroll !important;
}

ul#testtable {
  overflow: auto;
  height: 400px;
}

#tree_div td {
  text-align: center;
  vertical-align: top;
  padding: 0;
}

#tree_div .node {
  margin-bottom: -5px;
  color: #428bca;
}

#tree_div .left {
  border-right: 2px solid #6F6F6F;
  border-top: none;
}

#tree_div .right {
  border-left: 2px solid white;
}

#tree_div .line {
  height: 13px;
  width: 2px;
}

#tree_div .top {
  border-top: 2px solid #6F6F6F;
}

#tree_div .username {
  overflow: hidden;
  width: auto;
  color: #FFFFFF;
  background: #807979;
  padding: 2px 6px;
  border-radius: 2px;
  display: inline-block;
}

#tree_div .down {
  background-color: #6F6F6F;
  margin: 0px auto;
}

#tree_div .node {
  font-size: 12px !important;
  color: #428bca;
}

.imgdowns {
  position: absolute;
  top: 15px;
  right: 0;
  height: 90px;
  width: 28px;
}

#tree_div .node {
  display: inline-block;
  width: 105px !important;
  margin: 0px 6px -10px;
  z-index: 10;
  overflow: hidden !important;
  word-break: break-all !important;
  position: relative;
}


.tree_icon {
  height: 50px !important;
  width: 50px !important;
  border-radius: 50% !important;
  background-color: white;
}

#tree_div .right.top {
  border-left: 2px solid white;
  border-top: 2px solid #6F6F6F;
}

#tree_div .right {
  border: none;
}

.info-icon-tree {
  width: 12px;
  margin-right: 3px;
}

ul.list-inline.indicate-color-cls li.black figure {
  background: black;
}



ul.list-inline.indicate-color-cls li.green figure {
  background: #49c55a;
}

ul.list-inline.indicate-color-cls li.Red figure {
  background: red;
}

ul.list-inline.indicate-color-cls li.grey-cls figure {
  background: #eaeaea;
}

#myDiv.fullscreen {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

::ng-deep {

  /* Full Screen Mode */
  .fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  #tree_div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .tree_search {
    .form-control {
      min-height: 38px !important;
      padding: 5px;
    }

    button {
      width: 140px;
    }

    a {
      color: #000 !important;
      font-weight: 600 !important;
    }

  }

  .node-cells.inactive .showchield img {
    border: solid 3px red;
  }

  .node-cells.active .showchield img {
    border: solid 3px #18bc18;
  }
  .activeImage{
    border: solid 3px #18bc18;
  }
  .inactiveImage{
    border: solid 3px red;
  }
}

.highlight {
  border: 2px solid red;
  background-color: yellow;
}