<p-dialog id="dialog" header="Details For {{ node_data?.full_name || 'No Name Available' }}" [(visible)]="visible"
[style]="{ width: '500px', 'max-width': '100vw' }" [modal]="true">
  <div class="container">
    <table class="table table-open-cls dataTable">
      <tbody>
        <tr>
          <td>Name</td>
          <td><span>{{ node_data?.full_name || 'No Name Available' }}</span></td>
        </tr>
        <!-- <tr>
          <td>Email</td>
          <td><span>{{ node_data?.email || '' }}</span></td>
        </tr> -->
        <tr>
          <td>Username</td>
          <td><span>{{ node_data?.sponsor_id || 'No sponsor_id Available' }}</span></td>
        </tr>
        <tr>
          <td>Registration Date</td>
          <td><span>{{ node_data?.created_at | date: 'dd-MM-yyyy' || 'No Registration Date Available' }}</span></td>
        </tr>
        <tr>
          <td>Mobile No</td>
          <td><span>{{ node_data?.mobile_no || 'No Mobile Available' }}</span></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><span>{{ node_data?.address || 'No Address Available' }}</span></td>
        </tr>
        <tr>
          <td>Downlinecount</td>
          <td><span>{{ node_data?.Downlinecount || '0' }}</span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Close" (click)="visible = false"></button>
  </p-footer>
</p-dialog>
<div class="d-block d-sm-flex align-items-center mt-4 mb-5 gap-5 px-1">
  <div class="tree_search d-flex align-items-center mb-sm-0 mb-4">
    <form method="post" (ngSubmit)="Search()" [formGroup]="SearchForm" class="d-flex align-items-center w-100">
      <input type="text" class="form-control me-2" formControlName="search">
      <button type="submit" mat-raised-button color="warn" class="me-2">Search</button>
      <!-- Reset Button -->
      <button type="button" mat-raised-button color="warn" (click)="resetSearch()" class="me-2">Reset</button>

      <a *ngIf="!fullScreenVisible" (click)="openFullScreen()" class="text-primary fw-bold"
        style="cursor: pointer;">Full Screen</a>
      <a *ngIf="fullScreenVisible" (click)="removeFullScreen()" class="text-primary fw-bold"
        style="cursor: pointer;">Remove Full Screen</a>
    </form>
  </div>
  <div class="d-flex align-items-start gap-3">
    <!-- <div class="d-flex align-items-center">
      <div class="bg-black me-2" style="width: 15px; height: 15px;"></div>
      <span><b>Block</b></span>
    </div> -->
    <div class="d-flex align-items-center">
      <div class="bg-success me-2" style="width: 15px; height: 15px;"></div>
      <span><b>Active</b></span>
    </div>
    <div class="d-flex align-items-center">
      <div class="bg-danger me-2" style="width: 15px; height: 15px;"></div>
      <span><b>Inactive</b></span>
    </div>
  </div>
</div>
<div class="table-responsive" style="min-height: 500px;">
  <table id="tree_div" cellpadding="0" cellspacing="0" border="0" align="center">
    <tbody>
      <tr class="node-cells">
        <td class="node-cell" colspan="2">
          <div class="node" style="cursor: default;">
            <a href="javascript:void(0)" class="showchield" level="0" id="{{user?.id}}">
              <img class="tree_icon"  [class.activeImage]="user?.is_active" [class.inactiveImage]="!user?.is_active"  src="./assets/images/levels/level-0.png" alt="{{user?.mobile_no}}"
                id="userlink_{{user?.mobile_no}}" title="">
            </a>
            <div colspan="2" class="line down addcolspan"></div>
            <div class="username" title="{{user?.mobile_no}}" style="background: #454552 !important;cursor:pointer">
              <img src="./assets/images/info-tree.svg" class="info-icon-tree">
              <span>{{user?.mobile_no}}</span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>