<div class="row">
  <div class="col-lg-12">
    <div class="d">
      <div class="s">
        <mat-tab-group animationDuration="0ms">

          <mat-tab label="Change Password">
            <form [formGroup]="changePasswordform" (ngSubmit)="changePassword()">

              <div class="row justify-content-center">
                <div class="col-lg-6">
                  <div class="chnagePassword">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label>Old Password</label>
                        <input type="password" id="password" class="form-control" formControlName="password">

                        <div
                        *ngIf=" changePasswordform.get('password')?.touched && changePasswordform.get('password')?.invalid  ">
                        <small class="text-danger" *ngIf=" changePasswordform.get('password')?.hasError('required') ">
                          Password is Required. </small>
                      </div>
                      </div>
           
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label>New Password</label>
                        <input type="password" id="new_password" class="form-control" formControlName="new_password">
                        <div
                        *ngIf=" changePasswordform.get('new_password')?.touched && changePasswordform.get('new_password')?.invalid  ">
                        <small class="text-danger"
                          *ngIf=" changePasswordform.get('new_password')?.hasError('required') ">New Password is
                          Required. </small>
                        <small class="text-danger"
                          *ngIf="changePasswordform.get('new_password')?.hasError('minlength')">Password must be at
                          least 6 characters.</small>
                        <small class="text-danger"
                          *ngIf="changePasswordform.get('new_password')?.hasError('pattern')">Password must Include
                          uppercase, lowercase, number.</small>
                      </div>
                      </div>
                      
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" id="confirm_password" class="form-control"
                          formControlName="confirm_password">

                          <div *ngIf="changePasswordform.get('confirm_password')?.touched">
                            <small class="text-danger"
                              *ngIf="changePasswordform.get('confirm_password')?.hasError('required')">
                              Confirm password is required.
                            </small>
                            <small class="text-danger"
                              *ngIf="changePasswordform.get('confirm_password')?.hasError('passwordMismatch')">
                              Confirm Password does not match.
                            </small>
                          </div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Change</button>
                </div>
              </div>
              </div>
            </form>
          </mat-tab>

          <mat-tab label="Login History">
            <p-table #dt [value]="filteredHistory" dataKey="s.no" styleClass="p-datatable-customers" [rowHover]="true"
              [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
              [globalFilterFields]="['s_no','email', 'date', 'mobile_no', 'login_status']">

              <ng-template pTemplate="caption">
                <div class="table-header d-block mb-4">
                  <h3>Login History</h3>
                  <div class="row align-items-end">
                    <div class="col-lg-9">
                      <form [formGroup]="form">
                        <div class="row align-items-end">
                          <div class="col-md-3">
                            <div class="form-group mb-2">
                              <label class="form-label">From Date</label>
                              <mat-form-field appearance="fill" class="full-width">
                                <!-- <mat-label>From Date</mat-label> -->
                                <input matInput [matDatepicker]="fromPicker" formControlName="fromDate"
                                  (dateChange)="filterByDate()" (focus)="fromPicker.open()">
                                <mat-datepicker #fromPicker></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group mb-2">
                              <label class="form-label">To Date</label>
                              <mat-form-field appearance="fill" class="full-width">
                                <!-- <mat-label>To Date</mat-label> -->
                                <input matInput [matDatepicker]="toPicker" formControlName="toDate"
                                  (dateChange)="filterByDate()" (focus)="toPicker.open()">
                                <mat-datepicker #toPicker></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-md-3 mb-2">
                           
                            <!-- <button mat-raised-button color="primary" (click)="filterByDate()">Filter</button> -->
                            <button mat-raised-button color="warn" (click)="resetForm()" >Reset</button>
                       
                          </div>
                        </div>
                      </form>
                    </div>

                    <div class="col-lg-3 col-md-12 text-end">
                  <!-- Search Input -->
                  <div class="mb-2">
                    <span class="p-input-icon-left w-100">
                      <i class="ti ti-search"></i>
                      <input class="form-control" InputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                        placeholder="Global Search" />
                    </span>
                  </div>
                    </div>
                  </div>
                  


                </div>
              </ng-template>
      
              <ng-template pTemplate="header">
                <tr>
                  <!-- <th style="width: 80px;" pSortableColumn="s_no">S.No <p-sortIcon field="s_no"></p-sortIcon></th> -->
                  <th style="min-width: 200px;">Email</th>
                  <th style="min-width: 150px;">Date</th>
                  <th style="min-width: 150px;">Mobile No</th>
                  <th style="min-width: 100px;">Login Status</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr class="p-selectable-row">
                  <!-- <td>
                    <span class="p-column-title">S.No</span>
                    {{ data['s_no'] }}
                  </td> -->
                  <td>
                    <span class="p-column-title">Email</span>
                    {{ data.email }}
                  </td>
                  <td>
                    <span class="p-column-title">Date</span>
                    {{ data.date }}
                  </td>
                  <td>
                    <span class="p-column-title">Mobile No</span>
                    {{ data.mobile_no }}
                  </td>
                  <td>
                    <span class="p-column-title">Login Status</span>
                    <div class="status_success">{{ data.login_status }}</div>   
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>