.auth-main .auth-wrapper .auth-form .card{
    max-width: 550px;
}

.signup-policy{
    label{
        font-size: 15px;
        color: #9d9d9d;
        font-weight: 400;
        line-height: 27px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        cursor: pointer;
        input{
            margin-right: 10px;
            width: 20px;
            height: 20px;
        }
        a{
            font-weight: 500;
            margin: 0 2px;
            color: #000;
        }
    }
}

.timer-otp {
    font-size: 15px;
    color: #e8ad03;
    margin-top: 7px;
}