<div class="row">
  <div class="col-lg-8">
    <div class="my_referral">
      <div class="card rounded-3">
        <div class="card-body">
          <h4 class="title">My Referral Link</h4>
          <div class="referral">
            <a class="referral-link" (click)="redirectUrl()">{{ ReferralUrl }}</a>
            <a class="copy-link" (click)="copyUrl()">
              <i class="fa-regular fa-copy"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="sticky_right">
      <div class="row">
        <div class="col-lg-12 mb-1">
          <div class="earning_price">
            <div class="card rounded-3">
              <div class="card-body">
                <div class="pricebody">
                  <h4 class="title">My Recent Earning </h4>
                  <div class="row">
                    <div class="col-lg-12 mb-3">
                      <div class="price pt-0 py-3"><img src="./assets/images/coin.png"> 
                  
                        <!-- ₹{{UserInfo?.wallet_balance}} -->
                      </div>
                    </div>

                    <div class="levelincome">
                      <div class="col-lg-12">
                        <div class="row">
                          <div class="col-lg-5 col-sm-5 text-sm-start text-center">Level Income :</div>
                          <div class="col-lg-7 col-sm-7 text-sm-end text-center">₹ {{UserInfo?.wallet_balance}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>