<div class="row mt-4">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-12"></div>
            <div class="my_referral">
                <div class="card rounded-3">
                    <div class="card-body">
                        <h4 class="title">My Referral Link</h4>
                        <div class="referral">
                            <a class="referral-link" (click)="redirectUrl()">{{ ReferralUrl }}</a>
                            <a class="copy-link" (click)="copyUrl()">
                                <i class="fa-regular fa-copy"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card rounded-3">
                    <div class="card-body">
                        <h4 class="title">Account KYC Summary</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Account KYC</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="idcard">
                                        <i class="fa-solid fa-id-card"></i> PAN Card
                                    </td>
                                    <td *ngIf="UserInfo">
                                        <span *ngIf="UserInfo.pan_verified" class="verified">
                                            <i class="fa fa-check verified-icon"></i> APPROVED
                                        </span>
                                        <span *ngIf="!UserInfo.pan_verified" class="pending">
                                            <i class="fa-regular fa-clock verified-icon"></i> PENDING
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="idcard">
                                        <i class="fa-regular fa-credit-card"></i> Bank Info
                                    </td>
                                    <td *ngIf="UserInfo">
                                        <span *ngIf="UserInfo.kyc_status === 'verified'" class="verified">
                                            <i class="fa fa-check verified-icon"></i> APPROVED
                                        </span>
                                        <span *ngIf="UserInfo.kyc_status === 'pending'" class="pending">
                                            <i class="fa-regular fa-clock verified-icon"></i> PENDING
                                        </span>
                                        <span *ngIf="UserInfo.kyc_status === 'rejected'" class="rejected">
                                            <i class="fa fa-xmark verified-icon"></i> REJECTED
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="border-0">
                                    <th colspan="2">
                                        <a [routerLink]="['/referral/kyc']" class="btn orange-btn">Your KYC is Pending</a>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-12">
                <div class="card rounded-3">
                    <div class="card-body">
                        <h4 class="title">Business Value ABV</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="business-value">
                                    <div class="row align-items-center">
                                        <div class="col-lg-9">
                                            <h6>Self IV</h6>
                                            <p>1000.00</p>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="text-center">
                                                <i class="fa-solid fa-ranking-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="business-value">
                                    <div class="row align-items-center">
                                        <div class="col-lg-9">
                                            <h6>Direct IV</h6>
                                            <p>1000.00</p>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="text-center">
                                                <i class="fa-solid fa-database"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <div class="col-lg-4">
        <div class="sticky_right">
            <div class="row">
                <div class="col-lg-12 mb-1">
                    <div class="earning_price">
                        <div class="card rounded-3">
                            <div class="card-body">
                                <div class="pricebody">
                                    <h4 class="title">My Recent Earning </h4>
                                    <div class="row">
                                        <div class="col-lg-12 mb-3">
                                            <div class="price pt-0 py-3"><img src="../assets/images/coin.png"> ₹ {{UserInfo?.wallet_balance}}
                                            </div>
                                        </div>
                                        <!-- <div class="col-lg-6">
                                            <div class="">
                                                <p> Income Summary </p>
                                                <h6>PAID BONUS</h6>
                                                <span>₹ 1650.00</span>

                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="">
                                                <p>Income Amount </p>
                                                <h6>PENDING BONUS</h6>
                                                <span>₹ 0.00</span>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="levelincome">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-5">Level Income :</div>
                                                <div class="col-lg-7 text-end">₹ {{UserInfo?.wallet_balance}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-lg-12">

                    <div class="card rounded-3">
                        <div class="card-body">
                            <h4 class="title">Wallet Summary </h4>

                            <ul class="summary-body">
                                <li class="bg-success"><a href="#">
                                        <div class="incentive-wallet">
                                            <i class="fa-solid fa-wallet"></i>
                                            <h6> Incentive Wallet  </h6>
                                            <p>₹ 0.00</p>
                                        </div>
                                    </a>
                                </li>

                                <li class="bg-warning"><a href="#">
                                        <div class="incentive-wallet">
                                            <i class="fa-solid fa-money-bill-transfer"></i>
                                            <h6>  Withdrawal Summary  </h6>
                                            <p>₹ {{UserInfo?.wallet_balance}}</p>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>