<p-table #dt [value]="membersList" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
    currentPageReportTemplate="" [filterDelay]="0"
    [globalFilterFields]="['full_name', 'email', 'city.city', 'sponsor_id','parent_sponsor_id', 'created_at']">
    <ng-template pTemplate="caption">
        <div class="table-header mb-4">
            <h3>Members List</h3>
            <div class="product-search">
                <span class="p-input-icon-left w-100">
                    <i class="ti ti-search"></i>
                    <input class="form-control" InputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                        placeholder="Global Search" />
                </span>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="full_name">Name<p-sortIcon field="full_name"></p-sortIcon></th>
            <th pSortableColumn="city">City<p-sortIcon field="city"></p-sortIcon></th>
            <th pSortableColumn="sponsor_id">Sponsor ID<p-sortIcon field="sponsor_id"></p-sortIcon></th>
            <th pSortableColumn="parent_sponsor_id">Parent Sponsor ID<p-sortIcon field="parent_sponsor_id"></p-sortIcon></th>
            <th pSortableColumn="created_at">Created At <p-sortIcon field="created_at"></p-sortIcon></th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr class="p-selectable-row">
           
            <td>
                <span class="p-column-title">Name</span>
                <span class="image-text">{{data.full_name}}</span>
            </td>
            <td>
                <span class="p-column-title">City</span>
                <span class="image-text">{{ data.city ? data.city.city : '' }}</span>
            </td>
            
            <td>
                <span class="p-column-title">Sponsor ID</span>
                <span class="image-text">{{data.sponsor_id}}</span>
            </td>
            <td>
                <span class="p-column-title">Parent Sponsor ID</span>
                <span class="image-text">{{data.parent_sponsor_id}}</span>
            </td>
            
            <td>
                <span class="p-column-title">Created At</span>
                <span class="image-text">{{ data.created_at | date }}</span>
            </td>
          
            <td>
                <mat-slide-toggle [(ngModel)]="data.is_block" [checked]="data.is_block === 1" (change)="updateBlock(data.id)">
                </mat-slide-toggle>
                {{ data.is_block === 1 ? 'Active' : 'Inactive' }}
            </td>
        </tr>
    </ng-template>
</p-table>
