<p-table #dt [value]="orders" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
    currentPageReportTemplate="" [filterDelay]="0"
    [globalFilterFields]="['name', 'email', 'phone_number', 'product_id', 'created_at']">
    <ng-template pTemplate="caption">
        <div class="table-header mb-4">
            <h3>Orders List</h3>
            <div class="product-search">
                <span class="p-input-icon-left w-100">
                    <i class="ti ti-search"></i>
                    <input class="form-control" InputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                        placeholder="Global Search" />
                </span>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="min-width: 130px;" pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
            <th style="min-width: 150px;" pSortableColumn="phone_number">Mobile No<p-sortIcon field="phone_number"></p-sortIcon></th>
            <th style="min-width: 130px;" pSortableColumn="price">Amount<p-sortIcon field="price"></p-sortIcon></th>
            <th style="min-width: 150px;" pSortableColumn="size">Size<p-sortIcon field="size"></p-sortIcon></th>
            <th style="min-width: 150px;" pSortableColumn="created_at">Order On<p-sortIcon field="created_at"></p-sortIcon></th>
            <th style="min-width: 100px;">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr class="p-selectable-row">
            <td>
                <span class="p-column-title">Name</span>
                <span class="image-text">{{data.name}}</span>
            </td>
            <td>
                <span class="p-column-title">Mobile No</span>
                <span class="image-text">{{data.phone_number}}</span>
            </td>
            <td>
                <span class="p-column-title">Amount</span>
                <span class="image-text">{{data.price}}</span>
            </td>
            <td>
                <span class="p-column-title">Size</span>
                <span class="image-text">{{data.size}}</span>
            </td>
            <td>
                <span class="p-column-title">Order On</span>
                <span class="image-text">{{ data.created_at | date }}</span>
            </td>
            <td>
                <div class="d-flex">
                    <button class="btn editbtn"  (click)="openViewDialog(data)"><i class="fa-solid fa-eye"></i></button>
                  </div>
            </td>
          
        </tr>
    </ng-template>
</p-table>
<p-dialog id="dialog" header="Order Details" [(visible)]="visible" [style]="{ 'max-width': '580px', 'width':'100%'}" [modal]="true">
    <div *ngIf="order">
        <div class="order-details">
            <div class="order-row">
                <div class="order-column">
                    <p><strong>Name:</strong> {{ order.name }}</p>
                    <p><strong>Price:</strong> {{ order.price }}</p>
                    <p><strong>Size:</strong> {{ order.size }}</p>
                </div>

                <div class="order-column">
                    <p><strong>Email:</strong> {{ order.email }}</p>
                    <p><strong>Phone Number:</strong> {{ order.phone_number }}</p>
                    <p><strong>Address:</strong> {{ order.address }}</p>
                </div>

                <div class="order-column">
                    <p><strong>Pin Code:</strong> {{ order.pin_code }}</p>
                    <p><strong>Created At:</strong> {{ order.created_at | date }}</p>
                </div>
            </div>
        </div>
    </div>
</p-dialog>

  