<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-8">
                <div class="card rounded-3">
                    <div class="card-body">
                        <h4 class="title">Checkout Form</h4>
                        <div class="package-new-cls new_cls">
                            <form action="" [formGroup]="CheckoutForm" (ngSubmit)="Checkout()">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" id="name" formControlName="name" class="form-control" />
                                            <div
                                                *ngIf="CheckoutForm.get('name').hasError('required') && CheckoutForm.get('name').touched">
                                                <span class="error-message">Name is Required</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" id="email" formControlName="email"
                                                class="form-control" />
                                            <div
                                                *ngIf="CheckoutForm.get('email').hasError('email') && CheckoutForm.get('email').touched">
                                                <span class="error-message">Please enter a valid email</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="phone_no">Phone Number</label>
                                            <input type="tel" id="phone_no" maxlength="10"
                                                formControlName="phone_number" class="form-control" />
                                            <div
                                                *ngIf="CheckoutForm.get('phone_number').hasError('required') && CheckoutForm.get('phone_number').touched">
                                                <span class="error-message">Phone Number is Required</span>
                                            </div>
                                            <div
                                                *ngIf="CheckoutForm.get('phone_number').hasError('pattern') && CheckoutForm.get('phone_number').touched">
                                                <span class="error-message">Phone Number must be 10 Digits</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="address">Address</label>
                                            <input type="text" id="address" formControlName="address"
                                                class="form-control" />
                                            <div
                                                *ngIf="CheckoutForm.get('address').hasError('required') && CheckoutForm.get('address').touched">
                                                <span class="error-message">Address is Required</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="pin_code">Pin Code</label>
                                            <input (input)="checkServiceability()" formControlName="pin_code" id="pin_code" class="form-control" placeholder="" maxlength="6" />
                                            <div
                                                *ngIf="CheckoutForm.get('pin_code').hasError('required') && CheckoutForm.get('pin_code').touched">
                                                <span class="error-message">Pin Code is Required</span>
                                            </div>
                                            <small class="text-danger" *ngIf="CheckoutForm.get('pin_code')?.hasError('pattern')">
                                                Pin code must be 6 digits.
                                            </small>
                                            <small class="text-danger"
                                            *ngIf="CheckoutForm.get('pin_code')?.hasError('minlength') || CheckoutForm.get('pin_code')?.hasError('maxlength')">
                                            Pin code must be exactly 6 digits long.
                                            </small>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group mb-0">
                                            <div class="from-button">
                                                <input type="submit" class="btn btn-success" value="Procced" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="payment-section">
                                <h4 class="title">Payment</h4>
                                <p>All Transactions are Secure and Encrypted.</p>

                                <div class="payment-razorpay">
                                    <h6>Razorpay Secure</h6>
                                    <ul>
                                        <li><i class="fa-solid fa-expand"></i> UPI</li>
                                        <li><i class="fa-solid fa-credit-card"></i> Cards</li>
                                        <li><i class="fa-solid fa-wallet"></i> Wallets</li>
                                        <li><i class="fa-solid fa-landmark"></i> NetBanking</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog id="dialog" class="no-header-dialog" [(visible)]="Activation_success"
    [style]="{ width: '70vw', height: '650px' }" [modal]="true" [closable]="false" [draggable]="false">

    <div class="fireworks-container" *ngIf="enabled">
        <ng-fireworks #fireworks="ngFireworks" [options]="options" class="fireworks"></ng-fireworks>

        <div class="celebration-text">
            <img src="assets/images/calebration.png">
            <div class="celebration-left">
                <h5>Congratulations!</h5>
                <p>Your Activation Package Has Been Successfully Purchased.</p>

            </div>
        </div>
    </div>
    <a (click)="loadTractOrder()" class="keep-going"> Let's Keep Going ></a>
    <!-- <a [routerLink]="['/activation']" class="keep-going"> Let's keep going ></a> -->
</p-dialog>