.payment-razorpay ul {
    list-style: none;
    margin: 20px 0px;
    padding: 0px;
}

.payment-razorpay ul li {
    padding: 10px 0px;
    background: #ffffff;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.payment-razorpay ul li i {
    font-size: 19px;
    color: #b7d599;
    width: 36px;
}


.fireworks {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
  }
  
  .fireworks-container {
    position: relative;
    text-align: center;
    padding-top: 20px;
  }
  
  .celebration-text {
    position: absolute;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    top: 50%;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .celebration-text img{
    width: 50%;
  }
  .celebration-left{
    width: 49%;
  }
  .celebration-left h5{
    font-size: 50px;  
    color: #fc5d3d;
    animation: color 0.5s linear infinite;
 }
 @keyframes color {
    10% {
        color: #379cfa;
    }
    30% {
        color: #a7fa0c;
    }
    60% {
        color: #f71f72;
    }
    100% {
        color: #eeff03;
    }
  }

.celebration-left p {
    font-size: 17px;
    font-weight: 300;
    max-width: 420px;
    margin: auto;
}
.keep-going{
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: underline;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize; 
}   