<div class="row">
    <div class="col-lg-8">
        <div class="order-address-left">
            <div class="card">
                <div class="card-body">
                    <h4 class="title">Package Details</h4>
                    <div class="order-package mt-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <h5><i class="fa-solid fa-box"></i>Activation Package T-Shirt</h5>
                            </div>
                            <div class="col-lg-2">
                                <div class="order-price">₹{{order?.price}}</div>
                            </div>
                            <div class="col-lg-2">
                                <div class="order quantity">1</div>
                            </div>
                            <div class="col-lg-2">
                                <div class="price-weight text-center">₹{{order?.price}}
                                    <br> 0gm
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="title">Delivery Details</h4>

                    <div class="delivery-address-main mt-5">
                        <div class="delivery-address">
                            <div class="leftpoint">
                                <span class="location"></span>
                                <div class="line"></div>
                            </div>
                            <div class="address">
                                <h4 class="address-title">Pickup Address</h4>
                                <h6>SK LIFE</h6>
                                <p>Block B 08 Flat 906 Gulmarg parisar Badiya kima, bicholi mardana, indore 452016</p>

                                <h4 class="address-title">Seller Details</h4>
                                <h6><i class="fa-solid fa-book me-1"></i> GST : null</h6>
                            </div>
                        </div>

                        <div class="delivery-address">
                            <div class="leftpoint">
                                <span class="location-green"></span>
                                <!-- <div class="line"></div> -->
                            </div>
                            <div class="address mb-0">
                                <h4 class="address-title">Delivery Address</h4>
                                <h6>{{order?.name}}</h6>
                                <p class="mb-0">{{order?.address}}</p>
                                <p><i
                                        class="fa-solid fa-phone me-1"></i>{{order?.phone_number}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="card">
                <div class="card-body">
                    <h4 class="title">Payment Details</h4>
                    <div class="order-package mt-4">

                        <div class="address">
                            <h4 class="address-title">Payment Mode</h4>
                            <p><i class="fa-solid fa-file-invoice me-1"></i>{{order?.payment_type}}</p>
                        </div>



                        <div class="row">
                            <div class="col-lg-4">
                                <h5>Grand Total</h5>
                            </div>
                            <div class="col-lg-4">
                                <div class="order quantity text-center">1 Item(s)</div>
                            </div>
                            <div class="col-lg-4">
                                <div class="price-weight text-end">₹{{order?.price}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-4">
        <div class="order-timeline">
            <div class="card">
                <div class="card-body">
                    <div class="shipment-tracker">



                        <h4 class="title"><i class="fa-solid fa-list me-2"></i> Shipment Tracker</h4>

                        <div class="print-shipping text-center">
                            <i class="fa-solid fa-file-invoice"></i>
                            <button type="button" class="print-btn" (click)="openInvoice(order.invoice.invoice_number)">Activation
                                Invoice</button>
                            <button type="button" class="print-btn" (click)="downloadInvoice()">Order Invoice</button>
                        </div>
                        <h5>AWB No<span>{{order?.invoice.waybill}}</span></h5>
                        <button type="button" class="print-btn" (click)="trackUrl()">Track Your Order</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>