input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.blue-header {
    color: #e45026;
    margin-bottom: 15px;
    text-align: right;
}