<p-table #dt [value]="users" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
    currentPageReportTemplate="" [filterDelay]="0"
    [globalFilterFields]="['remark','type','amount','created_at','balance','particulars']">
    <ng-template pTemplate="caption">
        <div class="table-header mb-4">
            <h3>Wallet Statement</h3>
            <div class="product-search">
                <span class="p-input-icon-left w-100">
                    <i class="ti ti-search"></i>
                    <input class="form-control" InputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                        placeholder="Global Search" />
                </span>
            </div>
        </div>
    </ng-template> 
    <ng-template pTemplate="header">
        <tr>
            <th style="min-width: 190px;" pSortableColumn="created_at">Date<p-sortIcon field="created_at"></p-sortIcon></th>
            <th style="min-width: 150px;" pSortableColumn="remark">Remark<p-sortIcon field="remark"></p-sortIcon></th>
            <th style="min-width: 100px;" pSortableColumn="type">Type<p-sortIcon field="type"></p-sortIcon></th>
            <th style="min-width: 150px;" pSortableColumn="amount">Amount(₹)<p-sortIcon field="amount"></p-sortIcon></th>
            <th style="min-width: 150px;" pSortableColumn="balance">Balance(₹)<p-sortIcon field="balance"></p-sortIcon></th>
            <th style="min-width: 200px;" pSortableColumn="particulars">Particulars<p-sortIcon field="particulars"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr class="p-selectable-row">
            <td>
                <span class="p-column-title">Date</span>
                <span class="image-text">{{data.created_at | date:'MMM dd, yyyy h:mm a'}}</span>
            </td>
            <td>
                <span class="p-column-title">Remark</span>
                <span class="image-text">{{data.remark}}</span>
            </td>
            <td>
                <span class="p-column-title">Type</span>
                <span class="image-text">{{ data.type == 'debit' ? 'Dr.' : 'Cr.' }}</span>
            </td>
            <td>
                <span class="p-column-title">Amount(₹)</span>
                <span class="image-text" [class.debit]="data.type == 'debit'" [class.credit]="data.type == 'credit'">
                    ₹ {{ data.amount }}
                </span>
            </td>
            <td>
                <span class="p-column-title">Balance(₹)</span>
                <span class="image-text">
                    ₹ {{ data.balance }}
                    <i style="color: red;" *ngIf="data.type == 'debit'" class="fa-solid fa-arrow-down"></i>
                    <i style="color: green;" *ngIf="data.type == 'credit'" class="fa-solid fa-arrow-up"></i>
                </span>

            </td>
            <td>
                <span class="p-column-title">Particulars</span>
                <span class="image-text">{{ data.particulars }}</span>
            </td>
        </tr>
    </ng-template>
</p-table>
