<div class="row mt-4">
    <div class="col-lg-4">
      <form method="post" (ngSubmit)="Activation()" [formGroup]="ActivationForm">
        <div class="package-new-cls new_cls">
          <img *ngIf="product" src="{{BaseUrl}}{{product?.image}}" alt="Product Image"/>
          <ul>
            <li>
              <h2><span>Activation Package</span></h2>
              <p>{{ product?.name }}</p>
            </li>
            <li>
              <h2><span>₹ {{ product?.price }}</span></h2>
              <div class="form-group">
                <select class="form-control ddlClothSize" id="ddlClothSize" name="ddlClothSize"
                  style="max-width: 250px; margin-left: auto; margin-right: auto" formControlName="size">
                  <option value="">Select Size</option>
                  <!-- <option value="Extra Small (XS)">Extra Small (XS)</option>
                  <option value="Small (S)">Small (S)</option>
                  <option value="Medium (M)">Medium (M)</option> -->
                  <option value="Large (L)">Large (L)</option>
                  <option value="Extra Large (XL)">Extra Large (XL)</option>
                  <option value="Extra Extra Large (XXL)">Extra Extra Large (XXL)</option>
                </select>
              </div>
            </li>
            <li>
              <button *ngIf="!is_activated" class="btn orange-btn" type="submit"><i class="fa fa-shopping-cart"></i> Purchase</button>
              <button *ngIf="is_activated" class="btn orange-btn" type="submit"><i class="fa fa-check"></i> Already Added</button>
          </li>
          </ul>
        </div>
      </form>
    </div>
  </div>