<p-dialog id="dialog" header="Details For {{ node_data?.full_name || 'No Name Available' }}" [(visible)]="visible"
[style]="{ width: '500px', 'max-width': '100%' }" [modal]="true">
          <div class="order-row">
              <div class="order-column">
                  <div class="order-inner"><strong>Name : </strong> <p>{{ node_data?.full_name || 'No Name Available' }}</p></div>
                  <div class="order-inner"><strong>Username : </strong> <p>{{ node_data?.sponsor_id || 'No sponsor_id Available' }}</p> </div>
                  <div class="order-inner"><strong>Registration Date : </strong>
                    <p>{{ node_data?.created_at | date: 'dd-MM-yyyy' || 'No Registration Date Available' }}</p></div>

                  <div class="order-inner"><strong>Mobile No : </strong>
                    <p>{{ node_data?.mobile_no || 'No Mobile Available' }}</p></div>

                  <div class="order-inner"><strong>Address : </strong> 
                    <p>{{ node_data?.address || 'No Address Available' }}</p></div>

                  <div class="order-inner"><strong>Members Count : </strong> 
                    <p>{{ node_data?.Downlinecount || '0' }}</p>
                    </div>
              </div>
          </div>
     

</p-dialog>

<div class="d-block d-sm-flex flex-column align-items-center mb-5 gap-3">
  <div class="tree_search d-flex align-items-center mb-sm-0 mb-4">
    <form method="post" (ngSubmit)="Search()" [formGroup]="SearchForm" class="gap-2 flex-sm-row flex-column d-flex align-items-center w-100">
      <input type="text" class="form-control" formControlName="search">
      <div class="button-search d-flex gap-2 my-1 my-md-0">
      <button type="submit" mat-raised-button color="warn">Search</button>
      <!-- Reset Button -->
      <button type="button" mat-raised-button color="accent" (click)="resetSearch()" class="resetbtn">Reset</button>
    </div>
      <a *ngIf="!fullScreenVisible" (click)="openFullScreen()" class="text-primary fw-bold"
        style="cursor: pointer;">Full Screen</a>
      <a *ngIf="fullScreenVisible" (click)="removeFullScreen()" class="text-primary fw-bold"
        style="cursor: pointer;">Remove Full Screen</a>
    </form>
  </div>
  <div class="d-flex align-items-center justify-content-center gap-3 peoplestatus">
    <!-- <div class="d-flex align-items-center">
      <div class="bg-black me-2" style="width: 15px; height: 15px;"></div>
      <span><b>Block</b></span>
    </div> -->
    <div class="d-flex align-items-center">
      <div class="bg-success me-2" style="width: 15px; height: 15px;"></div>
      <span><b>Active</b></span>
    </div>
    <div class="d-flex align-items-center">
      <div class="bg-danger me-2" style="width: 15px; height: 15px;"></div>
      <span><b>Inactive</b></span>
    </div>
    <div class="d-flex align-items-center">
      <!-- <div class="bg-black me-2" style="width: 15px; height: 15px;"></div> -->
      <span><b>Current Level: {{ currentLevel }}</b></span>

    </div>
  </div>
</div>
<table id="tree_div" cellpadding="0" cellspacing="0" border="0" align="center" *ngIf="user">
  <tbody>
    <tr class="node-cells">
      <td class="node-cell" colspan="2">
        <div class="node" style="cursor: default;">
          <a href="javascript:void(0)" class="showchield" level="0"  id="{{user?.id}}">
            <img class="tree_icon"  [class.activeImage]="user?.is_active" [class.inactiveImage]="!user?.is_active"  src="./assets/images/levels/level-0.png" alt="{{user?.mobile_no}}"
                id="userlink_{{user?.mobile_no}}" title="">
            <!-- <img class="tree_icon" src="./assets/images/redimage.png" alt="{{user?.mobile_no}}"
              id="userlink_{{user?.mobile_no}}" title=""> -->
          </a>
          <div colspan="2" class="line down addcolspan"></div>
          <div class="username" title="{{user?.mobile_no}}" style="background: #454552 !important;cursor:pointer">
            <img src="./assets/images/info-tree.svg" class="info-icon-tree">
            <span>{{user?.mobile_no}}</span>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>