<ul class="list-unstyled">


  <li class="header-button" *ngIf="User">
    <a href="#" [ngClass]="{'greenbtn': User.pan_verified && User.kyc_status === 'verified'}"
      [routerLink]="['/create-kyc']">1. KYC</a>
    <a href="#" [ngClass]="{'greenbtn': User.is_active}" [routerLink]="['/activation']" class="greenbtn">2. Activation</a>
  </li>

  <li class="dropdown pc-h-item header-user-profile" ngbDropdown>
    <a class="pc-head-link dropdown-toggle arrow-none me-0" ngbDropdownToggle>
      <img *ngIf="!image" src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar wid-35" />
      <img *ngIf="image" src="{{image}}" alt="user-image" class="user-avtar wid-35" />
      <span *ngIf="User">{{User?.full_name ?? ''}}</span>
    </a>
    <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
      <ul ngbNav #nav="ngbNav" class="nav drp-tabs nav-fill nav-tabs">
        <li ngbNavItem="1">
          <ng-template ngbNavContent>
            <div *ngFor="let task of profile">
              <a class="dropdown-item" [routerLink]="['/' + task.url]">
                <i class="{{ task.icon }}"></i>
                <span>{{ task.title }}</span>
              </a>
            </div>
            <div>
              <a class="dropdown-item">
                <i class="ti ti-power"></i>
                <span (click)="logOut()">Logout</span>
              </a>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </li>
</ul>