#kyc_picture_input {
    display: none;
}

#pan_picture_input {
    display: none;
}


.upload-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #929292;
    border: 2px dashed rgb(188 188 188);
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out;
    outline: none;
    overflow: hidden;
    border-radius: 7px;
    background-image: url(../../../../../assets/images/upload-icon.svg);
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: center center;
}

.upload-img:hover {
    color: #000000;
}

.picture__img {
    max-width: 100%;
}

.bank-details {
    padding: 30px;
    background: #e9f1fd;
    border-radius: 10px;
    overflow: hidden;
}

.bank-details ul li {
    margin-bottom: 15px;
    color: #717f94;
}

.bank-details h6 {
    margin-bottom: 20px;
}

.approved-title {
    background: #40ca51;
    padding: 6px 14px;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.left-icon {
    min-width: 70px;
    background: #ffffff;
    height: 70px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-right: 17px;
    margin-top: 0;
    color: #000000;
    border: solid 3px #d0d0d0;
    border-style: dashed;
    position: relative;
    z-index: 1;
    font-weight: 600;
}

.bank-main {
    display: flex;
}

.left-icon:after {
    width: 21px;
    height: 2px;
    position: absolute;
    right: -21px;
    content: "";
    z-index: -1;
    border-radius: 50px;
    border-bottom: dashed 3px #d0d0d0;
}

.bank-kyc-pending {
    background: #e34f250f;
    padding: 18px;
    border-radius: 0;
    border-bottom: solid 1px #e34f252b;
}
.bank-kyc-pending .title {
    color: #e34f25;
}

.bank-kyc-approved {
    background: rgb(67 186 93 / 19%);
    padding: 18px;
    border-radius: 0;
    border-bottom: solid 1px rgb(28 176 60 / 23%);
}

.bank-kyc-approved .title{
    color: #0ea12f;
}
::ng-deep{
p-accordiontab{
    .p-icon-wrapper{
        display:none;
    }
    .p-accordion-header-link {
        padding: 0;
        background: transparent;
    }
}
}



@media(max-width:1024px){
.bank-main{
    flex-direction: column;
}
.left-icon{
    width: 50px;
    height: 50px;
    border-radius: 50px; 
    margin-bottom: 17px;
    font-size: 24px;
    min-width: auto;
    &::after{
        width: 18px;
        height: 2px;
        right: 4px;
        border-bottom: dashed 3px #d0d0d0;
        transform: rotate(90deg);
        top: 46px;
        transform-origin: center left;

    }
}

}

#ifsc_code,
#id_number{
    text-transform: uppercase;
}

.stepform{
    display: block;
    padding: 25px 0px;
    max-width: 520px;
    margin: auto;
}
::ng-deep{

    .p-steps .p-steps-item.p-highlight .p-steps-number{
        background: #254470;
        color: #ffffff;
        border: solid 3px #fff;
    }
    .stepform .p-highlight:before{
        border-top:1px solid #254470;

    }
    .p-steps .p-steps-item:before{
        margin-top: -8px;
    }
    .stepform .p-menuitem-link{
        padding-top: 15px
    }
    .p-steps .p-steps-item .p-menuitem-link .p-steps-number{
        height: 50px;
        width: 50px;
        box-shadow: 0px 0px 0px 4px #fbfbfb;
    }
    .p-steps .p-steps-item.p-highlight .p-steps-title{
        font-weight: 400;
        color: #254470 !important;
    }
    .p-steps .p-steps-item.p-highlights .p-steps-title{
        color: #43ba5d !important;
    }
    .p-steps .p-steps-item .p-menuitem-link .p-steps-title{
        color: #878787;
        font-size: 15px;
    }
    .p-steps .p-steps-item.p-highlights .p-steps-number{
        background: #43ba5d;
        color: #ffffff;
        border: 2px #fff;
        border-style: dotted;
    }
    .stepform .p-highlights:before{
        border-top:1px solid #43ba5d;

    }
    .stepform  ul{
        padding-left:0px;
    }

}

@media(max-width:576px){
    ::ng-deep{
    .p-steps .p-steps-item .p-menuitem-link .p-steps-title{
        font-size: 12px;
    }
    .p-steps .p-steps-item .p-menuitem-link .p-steps-number{
        height: 30px;
        width: 30px;
        border: none;
    }
    .stepform{
    position: sticky;
    top: 44px;
    z-index: 11;
    background: #fff;
    padding-bottom: 11px;
}
}
}